.concat-gif {
}

.concat-gif-title:after {
	content:"";
	display: block;
	background-color: $black;
	width: 90px;
	height: 1px;
	margin: 0 auto;
	margin-top: 20px;
}

.concat-gif-title-icon {
	color: $black;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	fill: $black;
	margin-right: 15px;
	// transition: transform 0.5s $easeInOutQuart;
	animation: rotation 0.8s infinite;
}

@keyframes rotation { 
    0% { 
        transform: rotate(0deg);
    } 
    100% { 
        transform: rotate(180deg);
    } 
}

.concat-gif-title-text {
	color: $black;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.concat-gif-infos {
	display: block;
	font-family: $font-serif;
	color: $gray;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 400px;
	font-weight: bold;
}