.concat-gif {
}

.concat-gif-title {
	animation: animConcatTitle 0.5s;
	animation-timing-function: $easeOutQuad;
	&:after {
		content:"";
		display: block;
		background-color: $black;
		width: 0;
		height: 1px;
		margin: 0 auto;
		margin-top: 20px;	
		animation: animConcatTitleAfter 0.5s forwards 0.25s;
		animation-timing-function: $easeOutQuart;
	}
}

@keyframes animConcatTitle {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes animConcatTitleAfter {
    from {width: 0}
    to {width: 90px}
}

.concat-gif-title-icon {
	color: $black;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	fill: $black;
	margin-right: 15px;
	// transition: transform 0.5s $easeInOutQuart;
	animation: rotation 0.8s infinite;
}

@keyframes rotation { 
    0% { 
        transform: rotate(0deg);
    } 
    100% { 
        transform: rotate(180deg);
    } 
}

.concat-gif-title-text {
	color: $black;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	animation: animConcatTitle 0.5s;
	animation-timing-function: $easeOutQuad;
}

.concat-gif-infos {
	display: block;
	font-family: $font-serif;
	color: $gray;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 400px;
}