.gif-box-camera-btn {
	border: 1px solid darken($grey-light, 20%);
	padding: 10px;
	position: absolute;
	z-index: 999;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	bottom: 10px;
	left: 50%;
	margin-left: -20px;
	cursor: pointer;
}

.gif-box-camera-record-btn {
	&:after {
		width: 15px;
		height: 15px; 
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $black;
		display: block;
		content:"";
	}
	&.record {
		border: 1px solid red;
		&:after {
			background-color: red;
		}
	}
}

.gif-box-camera-restart-btn {
	svg {
		fill: $black;
	}
}