.gif-box-camera-btn {
	border: 2px solid darken($grey-light, 80%);
	padding: 8px;
	position: absolute;
	z-index: 999;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	bottom: 10px;
	left: 50%;
	margin-left: -20px;
	cursor: pointer;
	transition: all 0.5s $easeOutQuart;
}

.gif-box-camera-record-btn {
	&:after {
		width: 12px;
		height: 12px; 
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -6px;
		margin-top: -6px;
		background-color: $black;
		display: block;
		content:"";
		transition: all 0.5s $easeOutQuart;
	}
	&.record {
		border: 2px solid $red;
		&:after {
			background-color: $red;
		}
	}
}

.gif-box-camera-restart-btn {
	svg {
		fill: $black;
			left: 50%;
	top: 50%;
	}
}

.gif-box-camera-no-camera {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	color: $red;
	text-align: center;
	background-color: $white;
	line-height: 180px;
}

.gif-box-camera-no-camera {
	
}