.save-gif-top {
	display: block;
	margin: 0px 0 60px 0;
}

.save-gif-input-name {
	width: 225px;
	margin-right: 20px;
}

.save-gif-input-author {
	width: 190px;
	margin-left: 20px;
	margin-right: 20px;
}

.save-gif-select {
	width: 160px;
	margin-left: 20px;
	margin-right: 20px;
}

.save-gif-cover-btn {
	display: inline-block;
	margin-left: 20px;
}

.save-gif-bottom {
	height: 320px;
	width: 320px;
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}

.save-gif-bottom-square {
	width: 280px;
	height: 280px;
	background-color: $turquoise;
}

.save-gif-bottom-title-block {
	z-index: 999;
	position: absolute;
	top: -20px;
	left: -10%;
	transform: translateX(-20%);
	text-align: left;
}

.save-gif-bottom-title {
	font-size: 50px;
	font-family: $font-sans;
	font-weight: 800;
	letter-spacing: -0.05em;
}

.save-gif-bottom-author {
	margin-top: 7px;
	font-family: $font-serif;
	font-size: 16px;
	letter-spacing: 0.2em;
	font-weight: 800;
}

.save-gif-video {
	background-color: $white;
	position: absolute;
	left: 30px;
	top: 30px;
}