.save-gif-top {
	display: block;
	margin: 0px 0 60px 0;
	// animation: saveGifTop 1s forwards 0.5s;
	// animation-timing-function: $easeOutQuart;
	opacity: 1;
}

@keyframes saveGifTop {
    from {opacity: 0}
    to {opacity: 1}
}

.save-gif-input-name {
	width: 225px;
	margin-right: 20px;
}

.save-gif-input-author {
	width: 190px;
	margin-left: 20px;
	margin-right: 20px;
}

.save-gif-select {
	width: 160px;
	margin-left: 20px;
	margin-right: 20px;
}

.save-gif-cover-btn {
	display: inline-block;
	margin-left: 20px;
}

.save-gif-bottom {
	height: auto;
	width: 320px;
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}

.save-gif-bottom-square {
	width: 280px;
	height: 280px;
	background-color: $turquoise;
	animation: saveGifSquare 1s;
	animation-timing-function: $easeInOutQuart;

}

@keyframes saveGifSquare {
    from {width: 0px;}
    to {width: 280px;}
}

.save-gif-bottom-title-block {
	z-index: 999;
	position: absolute;
	top: -20px;
	left: -10%;
	transform: translateX(-20%);
	text-align: left;
}

.save-gif-bottom-title {
	font-size: 50px;
	font-family: $font-sans;
	font-weight: 800;
	letter-spacing: -0.05em;
}

.save-gif-bottom-author {
	margin-top: 7px;
	font-family: $font-serif;
	font-size: 16px;
	letter-spacing: 0.2em;
	font-weight: 800;
}

.save-gif-video-mask {
	position: absolute;
	left: 45px;
	top: 45px;
	height: 250px;
	width: 0;
	animation: saveGifVideoMask 1s forwards 0.35s;
	animation-timing-function: $easeInOutQuart;
	overflow: hidden;
}

@keyframes saveGifVideoMask {
    from {width: 0}
    to {width: 250px}
}