.select-category {
	display: inline-block;
	width: 375px;
	height: 111px;
	text-decoration: none;
	position: relative;
	margin: 35px;
}

.select-category-name {
	font-size: 50px;
	letter-spacing: -0.08em;
	font-family: $font-sans;
}

.select-category-stories {
	letter-spacing: 0.2em;
}

.select-category-text-block {
	text-align: left;
	position: absolute;
	white-space: nowrap;
	top: 30px;
	left: -30px;
}