.category-gallery-block {
	width: 300px;
	height: 430px;
	margin: 0 auto;
	position: relative;
}

.category-gallery-return {
	display: block;
	font-size: 13px;
	font-family: $font-sans;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	cursor: pointer;
	height: 6px;
	top: 77px;
	left: 60px;
	position: absolute;
	text-decoration: none;
	&:before, &:after {
		content: "";
		display: block;
		height: 6px;
		width: 40px;
		background-color: $turquoise;
		z-index: 0;
		position: absolute;
		left: -15px;
		z-index: -3;
	}
	&:before {
		transform: rotate(45deg);
		bottom: -25px;
	}
	&:after {
		transform: rotate(-45deg);
		bottom: 0px;
	}
}

.category-gallery-block-square {
	background-color: darken($red, 10%);
	width: 300px;
	height: 300px;
	position: absolute;
	top: -25px;
	left: -25px;
}

.category-gallery-block-category {
	color: $black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	width: auto;	
	white-space: nowrap;
	font-size: 100px;
	letter-spacing: -0.08em;
	font-family: $font-sans;
}

.category-gallery-block-img {
	position: absolute;
	z-index: 10;
	bottom: -40px;
	width: 300px;
	right: -40px;
}
// .category-gallery-block-img {
// 	position: absolute;
// 	right: -100px;
// 	bottom: -100px;
// 	max-width: 300px;
// 	max-height: 300px;
// }


.category-gallery-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	background-color: red;
}

.category-gallery-nav-item {
	display: inline-block;
	font-size: 23px;
	text-transform: uppercase;
	font-family: $font-sans;
	text-align: left;
	letter-spacing: 0.3em;
	position: absolute;
	cursor: pointer;
	padding: 20px;
	&:after {
		content: "";
		display: block;
		background-color: $turquoise;
		margin-top: 10px;
		height: 6px;
		width: 70px;
	}
}

.category-gallery-nav-prev {
	left: 0;
}

.category-gallery-nav-next {
	right: 0;
	
}