.gallery {
	text-align: center;
}

.gallery-logo {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	display: block;
	font-family: $main-font;
	span {
		display: inline-block;
		margin: 3px 5px;
	}
}
