.gallery {
	text-align: center;
}

.gallery-logo {
	font-size: 16px;
	display: block;
	font-family: $font-sans;
	padding: 15px;
	cursor: pointer;
	z-index: 20;
	position: relative;
	span {
		display: inline-block;
		margin: 0px 1px;
		animation: animLogo 1s;
		animation-timing-function: $easeOutQuart;
	}
}

@keyframes animLogo {
    from {opacity: 0}
    to {opacity: 1}
}
