.gallery {
	text-align: center;
}

.gallery-logo {
	font-size: 16px;
	font-weight: 800;
	display: block;
	font-family: $font-sans;
	padding: 15px;
	cursor: pointer;
	z-index: 20;
	position: relative;
	span {
		display: inline-block;
		margin: 0px 1px;
	}
}
