.item-gallery-story {
	width: 380px;
	position: relative;
	display: inline-block;
}


.item-gallery-square {
	width: 280px;
	height: 280px;
	background-color: $turquoise;
}


.item-gallery-title-block {
	z-index: 999;
	position: absolute;
	top: -20px;
	left: -10%;
	transform: translateX(-20%);
	text-align: left;
}


.item-gallery-title {
	font-size: 50px;
	font-family: $font-sans;
	font-weight: 800;
	letter-spacing: -0.05em;
}


.item-gallery-author {
	margin-top: 7px;
	font-family: $font-serif;
	font-size: 16px;
	letter-spacing: 0.2em;
	font-weight: 800;
}


.item-gallery-video-mask {
	background-color: $white;
	position: absolute;
	left: 50px;
	top: 50px;
	overflow: hidden;
}

.item-gallery-share {
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	animation: itemGalleryShare 0.5s;
	animation-timing-function: $easeOutQuart;
}

@keyframes itemGalleryShare {
    from {
    	transform: translateY(40px) translateX(-50%); 
    	opacity: 0
    	}
    to {
    	transform: translateY(0px) translateX(-50%); 
    	opacity: 1
    }
}