.frame {
	width: 100%;
	height: 100vh;
	position: relative;
}

.frame-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 70%;
	left: 50%;
	margin-left: -40%;
	z-index: -20;
}

.frame-bg-line {
	display: inline-block;
	width: calc(100%/7);
	height: 100%;
}

.frame-bg-line-inner {
	width: 1px;
	margin: 0 auto;
	height: 100%;
	background-color: $pink;
}

.frame-wrapper {
	padding: 60px 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}


.frame-left-nav {
	transform: rotate(-90deg);
	position: absolute;
	left: -150px;
	top: 60%;
	z-index: 99;
	min-width: 445px;
	text-align: center;
}

.frame-left-nav-link {
	display: inline-block;
	color: $black;
	font-family: $font-sans;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 10px;
	font-size: 14px;
	letter-spacing: -0.01em;
	margin: 0 20px;
	position: relative;
	transition: all 1s $easeOutQuart;
	&:after {
		content: "";
		display: block;
		background-color: $turquoise;
		height: 6px; 
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, 0);
		z-index: -5;
		transition: all 1s $easeOutQuart;
	}
	&:hover {
		transform: translateX(15px);
		&:after {
			height: 20px; 
			transform: translate(-55%, 0);
		}
	}
}

.frame-loading {
	&:after {
		display: none;
	}
}

.frame-loading-icon {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	fill: $black;
	margin-right: 15px;
	transform: rotate(90deg);
	animation: frame-rotation 0.8s infinite;
}

@keyframes frame-rotation { 
    0% { 
        transform: rotate(90deg);
    } 
    100% { 
        transform: rotate(270deg);
    } 
}

.frame-loading-text {
	display: inline-block;
	vertical-align: middle;
	color: $black;
}

.frame-admin-btn {
	position: absolute;
	right: 80px;
	font-family: $font-sans;
	color: darken($grey-light, 20%);
	text-decoration: none;
}