.homepage {
	text-align: center;
}

.homepage-title {
	span {
		padding: 30px;
	}
}

// .homepage-block {
// 	padding-top: 100px;
// }

.homepage-logo-img {
	position: absolute;
	top: 0;
}  

.homepage-txt {
	max-width: 650px;
	margin: 0 auto;
	font-size: 18px;
	font-family: $font-serif;
	font-weight: 800;
	color: $gray;
}

.homepage-btn {
	margin: 80px 40px 0 40px;
}