/*******************************//* -------- VARIABLES -------- */
/*******************************/

$break-vxsmall: 460px;
$break-xsmall: 680px;
$break-small: 760px;
$break-medium: 980px;
$break-large: 1150px;

/* -------- SIZES -------- */

$contentW:960px;
$contentH:100%;
$contentMinW:980px;
$contentMinH:600px;

$text-size: 16px;

/* -------- COLORS -------- */

$white:#fff;
$gray:#626f72;
$red:#e94989;
$gray-opacity: rgba(98,111,114, 0.3);
$text-color: $gray;


/* -------- FONTS -------- */

$main-font: Gotham;
$second-font: Proza Display;

