.create-story {
	text-align: center;
}

.create-story-logo {
	font-size: 16px;
	font-weight: 800;
	display: block;
	font-family: $font-sans;
	padding: 15px;
	cursor: pointer;
	z-index: 20;
	span {
		display: inline-block;
		margin: 0px 1px;
	}
}

.create-story-title {
	margin: 60px 0;
}