.item-gallery-block {
	color: lighten($red, 5%);
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-30%, -80%);
	text-align: left;
	z-index: 10;
	width: auto;
	min-width: 450px;
	white-space: nowrap;
}

.item-gallery-block-title {
	font-size: 50px;
	font-family: $main-font;
	letter-spacing: 0.15em;
	font-weight: 800;
}

.item-gallery-block-author {
	font-size: 20px;
	font-family: $second-font;
	font-weight: 800;
}

.item-gallery-gif-container {
	width: 340px;
	height: 340px;
	padding: 40px;
	position: absolute;
	right: -25px;
	bottom: -25px;
	box-sizing: border-box;
	background-color: $white;
	position: relative;
}

.item-gallery-gif, .item-gallery-cover {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
}

// .item-gallery-logo {
// 	color: #F0F0F0;
// 	position: absolute;
// 	top: 15px;
// 	left: 50%;
// 	font-size: 12px;
// 	transform: translateX(-50%);
// 	z-index: 99;
// 	text-transform: uppercase;
// 	font-family: $main-font;
// 	font-weight: 800;
// 	letter-spacing: 0.4em;
// }