.view-gif {

}

.view-gif-story {
	height: 280px;
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}

.view-gif-square {
	width: 280px;
	height: 100%;
	background-color: $turquoise;
}

.view-gif-title-block {
	z-index: 999;
	position: absolute;
	top: -20px;
	left: -10%;
	transform: translateX(-20%);
	text-align: left;
}

.view-gif-title {
	font-size: 50px;
	font-family: $font-sans;
	font-weight: 800;
	letter-spacing: -0.05em;
}

.view-gif-author {
	margin-top: 7px;
	font-family: $font-serif;
	font-size: 16px;
	letter-spacing: 0.2em;
	font-weight: 800;
}

.view-gif-video {
	background-color: $white;
	position: absolute;
	left: 30px;
	top: 30px;
}

.view-gif-btn {
	margin: 20px;
}

.view-gif-share {
	color: $black;
	font-family: $font-sans;
	font-size: 14px;
	margin: 30px;
	font-weight: 800;
	letter-spacing: 0.2em;
}

.view-gif-share-link {
	display: inline-block;
	padding: 10px;
	&:first-child {
		margin-left: 10px;
	}
	.icon {
		display: inline-block;
		width: 15px;
		height: 15px;
		fill: $black;
	}
}