.view-gif {

}

.view-gif-story {
	height: 300px;
	width: 300px;
	position: relative;
	display: inline-block;
}

.view-gif-square {
	width: 0px;
	height: 280px;
	background-color: $turquoise;
	animation: viewGifSquare 1s forwards 0.25s;
	animation-timing-function: $easeInOutQuart;
}

@keyframes viewGifSquare {
    from {width: 0px;}
    to {width: 280px;}
}

.view-gif-title-block {
	z-index: 999;
	position: absolute;
	top: -20px;
	left: -10%;
	transform: translateX(-20%);
	text-align: left;
	transform: translateX(40px);
	animation: viewGifTitle 1s forwards 0.25s;
	animation-timing-function: $easeInOutQuart;
	opacity: 0;
}

@keyframes viewGifTitle {
    from {transform: translateX(40px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
}

.view-gif-title {
	font-size: 50px;
	font-family: $font-sans;
	letter-spacing: -0.05em;
	animation: viewGifTitle 1s forwards 0.25s;
}


.view-gif-author {
	margin-top: 7px;
	font-family: $font-serif;
	font-size: 16px;
	letter-spacing: 0.2em;
}

.view-gif-video-mask {
	position: absolute;
	left: 50px;
	top: 50px;
	overflow: hidden;
	animation: viewGifVideoMask 1s forwards 0.25s;
	width: 0;
	animation-timing-function: $easeOutQuart;
}

@keyframes viewGifVideoMask {
    from {
    	width: 0;
    	}
    to {
    	width: 290px;
    }
}

.view-gif-btn {
	margin: 20px 20px 0 20px;
}

.view-gif-share {
	margin-top: 65px;
	margin-bottom: 10px;
	animation: viewGifShare 1s forwards 0.75s;
	transform: translateY(40px); 
	animation-timing-function: $easeOutQuart;
	opacity: 0;
}

@keyframes viewGifShare {
    from {
    	transform: translateY(40px); 
    	opacity: 0
    	}
    to {
    	transform: translateY(0px); 
    	opacity: 1
    }
}
