.auth {
	text-align: center;
}

.auth-logo {
	font-size: 16px;
	display: block;
	font-family: $font-sans;
	padding: 15px;
	cursor: pointer;
	z-index: 20;
	position: relative;
	span {
		display: inline-block;
		margin: 0px 1px;
		animation: animLogo 1s;
		animation-timing-function: $easeOutQuart;
	}
}

@keyframes animLogo {
    from {opacity: 0}
    to {opacity: 1}
}

.auth-logout {
	cursor: pointer;
	padding: 20px;
	transition: all 0.5s $easeOutQuart;
	position: relative;
	z-index: 20;
	font-family: $font-sans;
	display: inline-block;
	&:after {
		content: "";
		display: block;
		margin-top: 5px;
		width: 0;
		height: 2px;
		background-color: #000;
		transition: all 0.5s $easeOutQuart;
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
}