.categories-list {
}

.categories-list-category-item { 
	width: 400px;
	margin: 0 auto;
}

.categories-list-category {
	display: inline-block;
	padding: 20px;
	margin: 20px;
	width: 240px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-family: $font-sans;
	text-decoration: none;
	transition: all 0.5s $easeOutQuad;
	&:hover {
		transform: scale(1.05);
	}
}

.categories-list-category-delete {
	display: inline-block;
	margin-left: 20px;
	font-family: $font-sans;
	transition: all 0.5s $easeOutQuad;
	cursor: pointer;
	padding: 15px;
	&:hover {
		color: $red;
	}
}

.categories-list-input {
	margin-top: 20px;
	display: inline-block;
	width: 180px;
	margin-right: 50px;
}


.categories-list-btn {
	margin-top: 20px;
	display: inline-block;
}